venv/
.env

temp/
output/audio/
output/scripts/
output/subtitles/
output/thumbnails/
output/videos/
assets/backgrounds/
assets/images/
assets/sounds/
output/captions/
templates/

__pycache__/
*.py[cod]

*$py.class
.py
.vscode/

.DS_Store

*.log


credentials.json

scripts/youtube_scripts/token.json


token.pickle